<h1>Tous les articles</h1>
<%= link_to "créer un article", new_article_path  %>
<ul>

  <% @articles.each do |article| %>
    <li>
      <%= article.title  %>
      <%= link_to "Voir", article_path(article) %>
      <%= link_to "Modifier", edit_article_path(article) %>
      <%= link_to "Supprimer", article_path(article), method: :delete %>
    </li>

  <% end %>
</ul>
